@charset 'utf-8';

.m{
    background: url(img/p.png);
    background: url(/img/p.png);
    background: url(../tmp/img/p.png);
    background: url("img/p.png");
    background: url(//img/p.png);
    background: url(#img/p.png);
    background: url(img/p.png?t=90);
    content:"@img/p.png@";
    background: url( "img/p.png"  );
    background: url( ' img/p.png ');
    background: url(about:blank);
    background: url(http://xxx...);
    background:url(#);
    background:url(data:image...);
    background:url(   );
    background:url(mn);
}