@charset 'utf-8';
@import url(m.css);

.m{
    background: url(img/p.png);
    background: url( "img/p.png"  );
    background: url( ' img/p.png ');
    background: url(about:blank);
    background: url(http://xxx...);
    background:url(#);
    background:url(data:image...);
    background:url(   );
    background:url(mn);
}